# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
*.log.*
log/
debug.log
error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build output
dist/
build/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# SQLite database files (если не хочешь хранить их в репозитории)
*.db
*.sqlite
*.sqlite3
